@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,600,700);
@font-face {
	font-family: 'Avenir Heavy';
	src: url('../../fonts/avenir-heavy-webfont.eot');
	src: url('../../fonts/avenir-heavy-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/avenir-heavy-webfont.woff') format('woff'), url('../../fonts/avenir-heavy-webfont.ttf') format('truetype'), url('../../fonts/avenir-heavy-webfont.svg#avenir_85_heavyregular') format('svg');
}
//Colors
$brand-primary: #20bbfc;
$brand-primary-light: lighten($brand-primary, 20%);
$brand-primary-dark: darken($brand-primary, 20%);
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
//Grays
$gray-darker: lighten(#000, 13.5%); // #222
$gray-dark: lighten(#000, 20%);
// #333
$gray: lighten(#000, 33.5%); // #555
$gray-light: lighten(#000, 60%);
// #999
$gray-lighter: lighten(#000, 93.5%); // #eee
//Basic Colors
$white-color: #FFFFFF;
$black-color: #000000;
//Font Styling & Sizing
$font-stack: 'Avenir Heavy', 'Open Sans', Tahoma, Arial;
$font-size-base: 14px; //Important To Be 14px For FontAwesome Rendering
$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-xlarge: ceil(($font-size-base * 1.79)); // ~25px
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px
$weight-light: 300;
$weight-normal: 400;
$weight-semibold: 600;
$weight-bold: 700;
$font-size-h1: floor(($font-size-base * 2.6)); // ~36px
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px
//For RTL, Use It For Floatation
$left: left;
$right: right;
//Ready Borders "Define The Average Size Of The Template Borders"
$border: 1px solid $gray;
$borderLight: 1px solid $gray-light;
$borderDark: 1px solid $gray-dark;
//For RTL padding-left, padding-right and absolute positioning
//Always Put A Value For Both "Auto Or Pixels"
@mixin padding-left-right($pleft : 0px, $pright : 0px) {
	padding-left: $pleft;
	padding-right: $pright;
}
@mixin margin-left-right($mleft : 0px, $mright : 0px) {
	padding-left: $mleft;
	padding-right: $mright;
}
@mixin absolute-left-right($aleft : 0px, $aright : 0px) {
	left: $aleft;
	right: $aright;
}
//Mixins
//Primary Color Gradient
@mixin primaryGrad($gradDeg: 180 , $gradStart: $brand-primary-light , $gradEnd : $brand-primary) {
	/* Old browsers */
	background: $gradStart;
	/* FF3.6+ */
	background: -moz-linear-gradient($gradDeg, $gradStart 0%, $gradEnd 100%);
	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$gradStart), color-stop(100%,$gradEnd));
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient($gradDeg, $gradStart 0%,$gradEnd 100%);
	/* Opera 11.10+ */
	background: -o-linear-gradient($gradDeg, $gradStart 0%,$gradEnd 100%);
	/* IE10+ */
	background: -ms-linear-gradient($gradDeg, $gradStart 0%,$gradEnd 100%);
	/* W3C */
	background: linear-gradient($gradDeg, $gradStart 0%,$gradEnd 100%);
	/* IE6-9 fallback on horizontal gradient */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '$gradStart', endColorstr='$gradEnd',GradientType=0 );
}
//Gray Color Gradient
@mixin grayGrad($gradDeg: 180 , $gradStart: $gray-lighter , $gradEnd : $gray) {
	/* Old browsers */
	background: $gradStart;
	/* FF3.6+ */
	background: -moz-linear-gradient($gradDeg, $gradStart 0%, $gradEnd 100%);
	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$gradStart), color-stop(100%,$gradEnd));
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient($gradDeg, $gradStart 0%,$gradEnd 100%);
	/* Opera 11.10+ */
	background: -o-linear-gradient($gradDeg, $gradStart 0%,$gradEnd 100%);
	/* IE10+ */
	background: -ms-linear-gradient($gradDeg, $gradStart 0%,$gradEnd 100%);
	/* W3C */
	background: linear-gradient($gradDeg, $gradStart 0%,$gradEnd 100%);
	/* IE6-9 fallback on horizontal gradient */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '$gradStart', endColorstr='$gradEnd',GradientType=0 );
}
//Border Radius
@mixin border-radius($radius : 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}
//Box Shadow
@mixin box-shadow($shadow : 0px 1px 3px rgba(0,0,0,.5)) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-o-box-shadow: $shadow;
	box-shadow: $shadow;
}
//Text Shadow
@mixin text-shadow($tShadow : 0px 1px 3px rgba(0,0,0,.5)) {
	-webkit-box-shadow: $tShadow;
	-moz-box-shadow: $tShadow;
	-o-box-shadow: $tShadow;
	box-shadow: $tShadow;
}
//Transition
@mixin transition($transitionvalue : all .25s ease-in-out) {
	-webkit-transition: $transitionvalue;
	-o-transition: $transitionvalue;
	-moz-transition: $transitionvalue;
	transition: $transitionvalue;
}
@mixin transparent($color, $alpha) {
	$rgba: rgba($color, $alpha);
	$ie-hex-str: ie-hex-str($rgba);
	background-color: transparent;
	background-color: $rgba;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
	zoom: 1;
}
.backgroundCover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
// my mixins for this template
// styling starts from here
body {
	font-family: $font-stack;
}
header {
	background: $gray-darker;
	color: $white-color;
	&.masthead {
		height: 100vh;
		.bannercontainer {
			width: 100%;
			position: relative;
			padding: 0;
		}
		.banner {
			width: 100%;
			position: relative;
		}
		h1 {
			text-transform: uppercase;
			font-size: 26px;
			font-weight: bold;
			font-family: 'Avenir Heavy';
		}
		.tp-bannertimer {
			background: url('../rs-plugin/assets/timerdot2.png');
			height: 3px;
		}
		.tp-caption {
			font-family: $font-stack;
			a {
				color: $white-color;
				&:hover {
					color: $gray-lighter;
				}
			}
			&.italic {
				font-style: italic;
			}
			.light_bold {
				font-weight: 300;
				font-size: 30px;
				color: $white-color;
				padding-top: 10px;
				text-align: center;
			}
			&.large_white_light {
				font-weight: 300;
				font-size: 40px;
				color: $white-color;
			}
			.btn.btn-naked {
				background: rgba($white-color, 0.3);
				font-size: 30px;
				font-style: italic;
				font-weight: $weight-light;
			}
		}
		h1,
		h2,
		h3 {
			color: $white-color;
		}
	}
}
.video-overlay {
	background: rgba(0,0,0,0);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
}

#wrap {
	padding-top: 70px;
	overflow-x: hidden;
	&.home {
		padding: 0;
	}
}
/* styling navbar */
#nav {
	width: 100%;
	position: static;
	top: -32px;
	margin-bottom: 0;
	@include box-shadow($shadow : 0 0 3px rgba(0,0,0,.2));
	background: $brand-primary;
	min-height: 70px;
	&.affix {
		position: fixed;
		top: 0;
		z-index: 999;
	}
	li {
		a:hover, a:focus {
			background-color: rgba(0,0,0,0);
		}
	}
	.navbar-brand {
		img {
			margin-top: 0;
		}

		.logo {
			display: inline-block;
			margin-bottom: 6px;
		}

		.text {
			margin-left: 6px;
			display: inline-block;
		}

		padding: 0;
		height: 69px;
		line-height: 69px;
	}
	&.navbar-fixed-top {
		position: fixed;
		top: 0;
	}
	.navbar-toggle {
		padding: 10px;
		margin-top: 10px;
		margin-bottom: 9px;
		i {
			font-size: 2em;
		}
	}
	.navbar-nav {
		li {
			a {
				text-transform: uppercase;
				padding-top: 25px;
				padding-bottom: 24px;
				font-family: $font-stack;
				font-weight: bold;
				color: $white-color;
				@include transition;
				&:hover {
					color: $gray-darker;
					background: none;
				}
			}
			&.social-nav {
				margin: 21px 0 4px 10px;
				border-left: 1px solid $gray-lighter;
				padding-left: 15px;
				a {
					float: left;
					padding: 5px 10px;
					i {
						font-size: 1.33333333em;
					}
				}
			}
			&.active {
				a {
					color: $gray-darker;
				}
			}
		}
	}
}
section {
	padding: 15vh 0;

	&#mission {
		background: $brand-primary;
		padding: 75px 0;
		.media .media-body h4 {
			font-weight: bold;
		}
	}
	&#how-we-roll {
	}
	&#about {
		img {
			margin: 15px auto;
		}
	}
	&#pillars {
		background: url('../../img/laptop_keyboard.png');
		background-size: cover;
		.media {
			margin-top: 20px;
			.media-body {
				.media-heading {
					font-weight: bold;
					margin-top: 20px;
					font-size: 32px;
					color: white;
				}
				p {
					color: white;
					font-size: 18px;
					line-height: 1.5em;
					margin-top: 20px;
				}
			}
		}
	}
	&#contact {
		.contact-details {
			.detail {
				margin: 25px auto;
				h4 {
					font-weight: bold;
					text-transform: uppercase;
				}
				p {
					color: $gray-light;
				}
				ul {
					list-style: none;
					padding: 15px 0;
					li {
						margin: 0 5px;
						float: left;
						a {
							padding: 5px;
							color: $gray-light;
							@include transition;
							i {
								font-size: 1.7em;
							}
							&:hover {
								color: $brand-primary;
							}
						}
					}
				}
			}
		}
	}
	&#career-header {
		background: url('../../img/laptop_keyboard.png');
		background-size: cover;
		color: white;
		h1 {
			background: $brand-primary;
			padding: 15px;
			border-style: solid;
			border-color: white;
			border-width: 10px;
		}
	}
	&#careers {
		background: $brand-primary;
		color: white;
		padding-top: 30px;
		padding-bottom: 30px;
		h2 {
			padding-bottom: 30px;
			text-align: center;
		}
		h3 {
			text-align: center;
		}
		p {
			text-align: center;
			font-size: 1.3em;
		}
		.career-box {
			padding: 30px;
		}
	}
	.side-block {
		margin-top: 25px;
		&.search {
			input.form-control {
				background: $gray-lighter;
				border: none;
				height: 40px;
			}
			button {
				border: none;
				background: none;
				i {
					top: 3px;
					right: 8px;
					color: $brand-primary;
				}
			}
		}
		h4 {
			text-transform: uppercase;
			margin-bottom: 25px;
		}
		p {
			color: $gray-light;
		}
		ul {
			padding-left: 20px;
			margin-bottom: 20px;
			li {
				margin: 5px 0;
				a {
					color: $gray-light;
				}
			}
		}
		.media {
			a.pull-left {
				margin-right: 10px;
			}
			.media-object {
				padding: 0;
				height: 60px;
				width: 60px;
				@include border-radius(0);
				border: none;
			}
			.media-body {
				font-size: 13px;
				line-height: 16px;
				color: $gray-light;
				a {
					display: block;
					margin-top: 7px;
				}
			}
		}
		a.tag {
			border: 2px solid $gray-light;
			color: $gray-light;
			padding: 8px;
			@include border-radius(5px);
			margin: 5px;
			text-transform: lowercase;
			display: inline-block;
			&:hover {
				border-color: $brand-primary;
				color: $black-color;
			}
		}
	}
}
section.well {
	border: none;
	@include border-radius(0);
	background-image: url("../img/samples/bk-social.jpg");
	@extend .backgroundCover;
	background-attachment: fixed;
	position: relative;
	padding: 45px;
	&:before {
		content: " ";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		@include transparent($black-color, 0.65);
	}
	h2 {
		text-transform: uppercase;
		color: $white-color;
		font-weight: bold;
	}
	.breadcrumb {
		background: none;
		float: right;
		margin-bottom: 0;
		padding: 28px 15px 5px;
		.active {
			color: $white-color;
		}
	}
}
footer#site-footer {
	padding: 40px 0;
	background: $brand-primary;
	color: $white-color;
	text-align: center;
	h4,
	h5 {
		text-transform: uppercase;
	}
	a {
		i {
			color: white;
		}
		i:hover {
			color: $brand-primary-dark;
		}
	}
}
// overall styling
.media {
	margin: 50px 0;
	text-align: left;
	overflow: hidden;
	a, span {
		text-decoration: none;
		&.pull-left {
			margin-right: 25px;
		}
		&.pull-right {
			margin-left: 25px;
		}
		.media-object {
			background: $brand-primary;
			color: $white-color;
			border: 4px solid $brand-primary;
			padding: 18px;
			@include border-radius(10px);
			@include transition;
			display: block;
			height: 100px;
			width: 100px;
			text-align: center;
			text-decoration: none;
		}
	}
	&:hover {
		.media-object {
			background: $white-color;
			color: $brand-primary;
			@include border-radius(50%);
		}
	}
	&.right {
		text-align: right;
	}
	.media-body {
		h4 {
			color: $black-color;
			text-transform: uppercase;
		}
		p {
			color: $gray-light;
		}
	}
	&.media-circle {
		.media-object {
			@include border-radius(50%);
			padding: 10px;
			background: none;
			color: $brand-primary;
			width: 50px;
			height: 50px;
			margin: 10px auto;
			border: 2px solid $white-color;
		}
		&:hover {
			.media-object {
				background: $white-color;
			}
		}
	}
	&.vertical {
		.media-object {
			background: $white-color;
			width: 70px;
			height: 70px;
			margin: 10px auto;
			color: $gray;
		}
		.media-body {
			text-align: center;
		}
		&:hover {
			.media-object {
				background: $brand-primary;
				color: $white-color;
			}
		}
	}
}
.go-down {
	position: absolute;
	bottom: 20px;
	right: 49.2%;
	z-index: 999;
	a {
		color: $white-color;
	}
}
.section-heading {
	text-align: center;
	padding: 30px 0;
	h1 {
		font-size: 45px;
	}
	h1,
	h2,
	h3 {
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 40px;
		span {
			color: $brand-primary;
		}
	}
	h4 {
		color: $gray;
		line-height: 1.5em;
	}
	i {
		color: lighten($gray-light, 25%);
	}
	&.white {
		color: $white-color;
	}
}
span.brandy {
	color: $brand-primary;
	text-transform: lowercase;
}
ul {
	list-style-image: url("../img/bullet-bl.png");
	line-height: 25px;
}
.img-center {
	margin: 0 auto;
}
.carousel-indicators {
	&.vertical {
		right: 15px;
		left: inherit;
		margin-left: 0;
		width: 20px;
		bottom: 0;
		li {
			display: block;
			margin: 10px 0;
			@include border-radius(2px);
			width: 15px;
			height: 15px;
			border: 2px solid $white-color;
			@include transition;
			&.active {
				margin: 10px 0;
				width: 15px;
				height: 15px;
				border: 2px solid $white-color;
			}
		}
	}
	li {
		display: inline-block;
		margin: 10px 0;
		@include border-radius(2px);
		width: 15px;
		height: 15px;
		border: 2px solid $white-color;
		@include transition;
		&.active {
			margin: 10px 0;
			width: 15px;
			height: 15px;
			border: 2px solid $white-color;
		}
	}
}
.btn.btn-primary {
	background: $brand-primary;
	border: none;
	text-transform: uppercase;
	@include transition;
	font-weight: bold;
	font-size: 16px;
	padding: 15px 40px;
	&:hover {
		background: darken($brand-primary, 5%);
	}
}
.btn.btn-empty {
	background: none;
	border: 2px solid $white-color;
	text-transform: uppercase;
	color: $white-color;
	@include border-radius(4px);
	@include transition;
	&:hover {
		background: $white-color;
		color: $brand-primary;
	}
}
.pre-loader {
	position: fixed;
	background: #ecf0f1;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	display: block;
	.load-con {
		margin: 20% auto;
		position: relative;
		text-align: center;
	}
}
.spinner {
	margin: 50px auto 0;
	width: 70px;
	text-align: center;
}
.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #bdc3c7;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
	0%,
	100%,
	80% {
		-webkit-transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
	}
}
@keyframes bouncedelay {
	0%,
	100%,
	80% {
		transform: scale(0);
		-webkit-transform: scale(0);
	}
	40% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}
// making the iconic input on the left
.has-feedback.left {
	.form-control-feedback {
		top: 7px;
		right: inherit;
		left: 0;
	}
	.form-control {
		padding-left: 33px;
		padding-right: 0;
	}
}
.form-control {
	height: 50px;
	padding: 12px;
	border: 1px solid $gray-lighter;
}
a {
	color: $brand-primary;
	@include transition;
	text-decoration: none;
	&:hover {
		color: $brand-primary-dark;
		text-decoration: none;
	}
}
.scrollpoint {
	opacity: 0;
	&.active {
		opacity: 1 \0;
	}
}
// responsive video
.video-background {
  height: calc(100vh - 70px);
  width: 100%;
  overflow: hidden;

  video {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
.image-background {
	display: none;
}
.flex-video {
	position: relative;
	padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 16px;
	overflow: hidden;
}
.flex-video.widescreen {
	padding-bottom: 57.25%;
}
.flex-video.vimeo {
	padding-top: 0;
}
.flex-video embed,
.flex-video iframe,
.flex-video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
	.flex-video {
		padding-top: 0;
	}
}
// styling quotes
.quote {
	background: $gray-dark;
	color: $white-color;
	border-left: 4px solid $brand-primary;
	@include border-radius(0 5px 5px 0);
	padding: 25px;
	margin-bottom: 15px;
}
// outline zero on focus
:focus {
	outline: 0;
}
canvas {
	width: 200px !important;
	height: 200px !important;
	display: block;
	float: none;
}
// media queries
@media (max-width: 767px) {
	.video-background {
		height: 100vh;

		video {
			display: none;
		}

		.image-background {
			display: block;
			height: 100vh;
			background-size: cover;
			background-image: url("/img/lol.jpg");
			background-repeat: no-repeat;
		}
	}

	#nav .navbar-nav li a {
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.theme-switcher {
		display: none;
	}
	.navbar-brand {
		margin-left: 20px;
	}
	header {
		&.masthead {
			h1 {
				font-size: 30px;
			}
			h2 {
				font-size: 16px;
				margin-top: 20px;
			}
			h3 {
				font-size: 14px;
			}
			.tp-caption a {
				color: $white-color;
			}
			h1,
			h2,
			h3 {
				color: $white-color;
			}
		}
	}
}
